 .clr
{
color:rgb(0, 0, 128);
}
.ftsize{
	font-size:28px;
}
.content{
	border: 1px solid black;
	padding:20px 10px 10px 20px;
}
.ctsize{
	font-size:22px;
}
.count{
	width:22px;
	height:22px;
	text-align:center;

}
input,button{
    border:0;
}
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}
#rplus,#aplus,#cplus{
	color:rgb(255,20,147);
	font-size:30px;	
}
#rplus,#aplus,#cplus{

}
#rminus,#aminus,#cminus{
	color:rgb(0, 0, 128);
	font-size: 30px;
}
